@{
    Layout = "~/Views/Shared/_LayoutAdministrator.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Class</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="upload-btn-wrapper">
                    <button type="button" id="Create" class="btn right fa fa-plus-circle btn-add" data-toggle="modal" data-target="#myModal" onclick="ClearScreen();"></button>
                </div>
            </div>
        </div>
        <table class="table table-hover" id="table">
            <thead>
                <tr>
                    <th style="background-color:#44e5b9;color:white;text-align:center">
                        No.
                    </th>
                    <th style="background-color:#44e5b9;color:white;text-align:center">
                        Batch
                    </th>
                    <th style="background-color:#44e5b9;color:white;text-align:center">
                        Class
                    </th>
                    <th style="background-color:#44e5b9;color:white;text-align:center">
                        Trainer
                    </th>
                    <th style="background-color:#44e5b9;color:white;text-align:center">
                        Room
                    </th>
                    <th style="background-color:#44e5b9;color:white;text-align:center" class="no-sort">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Class Form</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div class="form-group" hidden="hidden">
                        <label for="Id">Id</label>
                        <input type="text" class="form-control" id="Id" placeholder="Id" />
                    </div>
                    <div class="form-group">
                        <label for="Batch">Batch</label>
                        <select id="Batch" class="pc form-control">
                            <option>Select Batch</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Class">Class</label>
                        <select id="Class" class="pc form-control">
                            <option>Select Class</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Trainer">Trainer</label>
                        <select id="Trainer" class="pc form-control">
                            <option>Select Trainer</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="Room">Room</label>
                        <select id="Room" class="pc form-control">
                            <option>Select Room</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" style="background-color:#44e5b9;border-color:#44e5b9" id="Save" onclick="Validate();">Add</button>
                    <button type="button" class="btn btn-primary" style="background-color:#44e5b9;border-color:#44e5b9" id="Update" onclick="Validate();">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalDetail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myDetail"></h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="Participant">Participants</label>
                        <select class="select2 m-b-10 select2-multiple" style="width: 100%"
                                id="Participant" multiple="multiple"></select>
                    </div>
                    <div class="form-group" hidden="hidden">
                        <label for="FirstName">Batch Class</label>
                        <input type="text" class="form-control" id="Batchclass" placeholder="Batch Class" />
                    </div>
                    <div class="form-group">
                        <button type="button" id="Insert" class="btn btn-success" onclick="InsertParticipant();">Insert Participant</button>
                    </div>
                    <table class="table table-hover" id="tabledet">
                        <thead>
                            <tr>
                                <th style="background-color:#44e5b9;color:white;text-align:center" height="70">
                                    No.
                                </th>
                                <th style="background-color:#44e5b9;color:white;text-align:center" height="70">
                                    NIK
                                </th>
                                <th style="background-color:#44e5b9;color:white;text-align:center" height="70">
                                    Participant
                                </th>
                                <th style="background-color:#44e5b9;color:white;text-align:center" height="70">
                                    Grade
                                </th>
                            </tr>
                        </thead>
                        <tbody class="tbodydet"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

@section scripts {
    <script src="~/plugins/jqueryui/jquery-ui.js"></script>
    <link href="~/plugins/jqueryui/jquery-ui.css" rel="stylesheet" />
    <script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
    <link href="https://github.com/BlackrockDigital/startbootstrap-sb-admin-2/blob/6b5d5953b67dbe830fee993de3693dc437078a8d/vendor/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet" />
    <script src="~/plugins/select2/dist/js/select2.full.min.js"></script>
    <link href="~/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
    <script src="~/plugins/sweetalert2/sweetalert2@8.js"></script>
    <script src="~/plugins/moment/moment.js"></script>
    <script src="~/Script/BatchClassMaster/BatchClassScript.js"></script>
    <link href="~/css/uploaddownload.css" rel="stylesheet" />
}

